<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><i class="fas fa-phone"></i> (617)-555-5555</div>
      <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> contact@btrealestate.co
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a
            href="https://www.linkedin.com/in/anthony-chaple-lopez-54160a196/"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/anthony.ch.l/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/anthonychl" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://anthonychl.github.io/" target="_blank">
            <i class="fa fa-user-circle"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
